{
    "root": true,
    "parser": "@typescript-eslin/parser",
    "plugins": [
        "@typescirpt-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": "warn"
    }
}